node_modules/
dist/
*.exports/
*.log
.DS_Store
Thumbs.db
*.tsbuildinfo
coverage/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.idea/
*.vsix
packages/**/node_modules/.vite/
apps/**/bin/
apps/**/obj/
